* {
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
	margin: 1em;
	background: #F2F2E9;
}

h1 {
	color: #85a394;
}

li {
	position: relative;
	background: #D9D7C5;
	width: 100%;
	margin-bottom:0.2em;
	height: 3em;
}

.progress {
	position:absolute;
	background: #99bcaa;
	top: 0;
	height:100%;
	-webkit-transition: width 1s ease-out;
    -moz-transition: width 1s ease-out;
    -o-transition: width 1s ease-out;
    transition: width 1s ease-out;
}

.task {
	padding: 0.7em 1em;
	position: absolute;
	z-index:2;
	top:0;
}

.size {
	position: absolute;
	right: 0.5em;
	top: 0.7em;
	border: 1px solid #736766;
	border-radius: 3px;
	padding: 0.2em 0.5em;
}

.add {
	position: absolute;
	top: 1.3em;
	right: 0.7em;
	font-size: 1.5em;
	color: #D9D7C5;
}

.add:hover {
	color: #99bcaa;
}

ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}